@model Gym.Models.COrderRequest
@using System.Text.Json;
@{
    ViewData["Title"] = "Checkout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<style>

    .input-container {
        position: relative;
    }

    #accountVerifyNumber {
        width: 20%;
        z-index: 1;
    }

    #note {
        position: absolute;
        color: red;
        font-size: 18px;
        margin-left: 1%;
    }

    #noteIcon {
        color: green;
        font-size: 18px;
    }
</style>

<h1>訂單確認</h1>

<div class="container">
    <div class="card border shadow-0">
        <div class="title-left text-center">
            <h2>目前訂單內容</h2>
            <hr />
            @{
                foreach (var i in Model.oOrderVM)
                {
                    <h4>@i.dClassCount × $ @i.dPrice</h4>
                }
                <hr />
                <h4>總價:$ @Model.oTotalPrice</h4>
            }
        </div>
    </div>
    <div class="card border shadow-0 mt-4 d-flex justify-content-center">
        <div class="title-left text-center">
            <h2>Sparkle匯款帳戶</h2>
            <h3>台灣銀行（004）042001013724</h3>
            <hr />
            <h3>請輸入您的匯款帳戶後5碼</h3>
            <div class="input-container">
                <input id="accountVerifyNumber" type="tel" placeholder="例:12345" value="">
                <span id="note"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button id="verifySubmit" class="btn btn-success shadow-0 w-25 m-3">確認送出</button>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var btnVerify = $('#verifySubmit');
            var txtVerifyNum = $('#accountVerifyNumber');
            var note = $('#note');

            var pattern = /^\d{5}$/;
            var checkIcon = $(`<i id="noteIcon" class="fa-solid fa-circle-check fa-sm"></i>`)
            var loadingIcon = $(`<i class="fa-solid fa-spinner fa-spin-pulse" style="color: #ffffff;"></i>`)

            btnVerify.prop('disabled', true)
            txtVerifyNum.on('input', function () {
                if (pattern.test($(this).val())) {
                    note.text("");
                    note.append(checkIcon);
                    btnVerify.prop("disabled", false);
                }
                else {
                    note.text("請輸入完整5位數字");
                    checkIcon.detach();
                    btnVerify.prop('disabled', true);
                }
            });

            btnVerify.on('click', function () {
                
                btnVerify.prop('disabled', true);
                
                btnVerify.text("");
                btnVerify.append(loadingIcon);

                var verifyNum = $('#accountVerifyNumber').val();
                var oRequestModel = {
                    oClassId: @Html.Raw(JsonSerializer.Serialize(Model.oClassId)),
                    oOrderVM: @Html.Raw(JsonSerializer.Serialize(Model.oOrderVM)),
                    oTotalClassCount: @Model.oTotalClassCount,
                    oTotalPrice: @Model.oTotalPrice
                                                };
                $.ajax({
                    url: '@Url.Action("verifyAccount","Member")',
                    type: 'POST',
                    data: { account: verifyNum, orderRequest: oRequestModel },
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            window.location.href = '@Url.Action("CrouseRecord","Member")'; 
                        }
                        else {
                            alert(response.message);
                            btnVerify.text("確認送出");
                            loadingIcon.detach();/
                        }
                    },
                    error: function (error) {
                    }
                });
            });

        });



    </script>
}